<% provide(:title, "About") %>
<h1>About</h1>

<h2>
  <em><a href=""><%= link_to "WeUnited", root_path %></em></a> is a crowdfunding platform </h2><h2> that allows <a href="http://utrgv.edu/">UTRGV</a> student organizations </h2><h2> to raise money or accept donations for events ranging </h2><h2> from fundraisers to community services. </h2>


