<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p id = "help">
  Contact us:
</p>

<p id = "help">
<em>
  <a href="">Danielatamayo01@utrgv.edu</a>
 </p>
 <p id = "help"> 
  <a href="">Marissa.jain01@utrgv.edu</a> </em>
</p>
