<% provide(:title, "Help") %>
<h1>Help</h1>
<p id = "help">
  Get help! We are here to assist you:
</p>

<p id = "help">
<em>
  <a href="">Danielatamayo01@utrgv.edu</a>
 </p>
 <p id = "help"> 
  <a href="">Marissa.jain01@utrgv.edu</a> </em>
</p>


