<div class="container">

<h3>Search Result</h3>  

    <% @results.each do |result| %>  
        <%= result.email %><br>  
    <% end %>
</div>

<!-- 
search user and its fundraiser

    <h3>Search Result</h3>  
    % @results.each do |result| %>  
        %= result.stripeaccount.first_name %> %= result.title %><br>  
    % end %>
-->