<footer class="footer">
  <small>
    <em><a href=""><%= link_to "WeUnited", root_path %></em></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.utrgv.edu/en-us/about-utrgv/news/in-the-press/index.htm">News</a></li>
    </ul>
  </nav>
</footer>

